﻿@model Task_Flex_Group.Models.Pages

@{
    ViewBag.Title = "Adding URL to response speed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="navbar-link"> @Html.ActionLink("List all results", "ListAllResults") </p>
<p class="navbar-link"> @Html.ActionLink("History of visited pages", "ListHistory") </p>
<p class="page-header"> Please, type an URL address to measure a response speed. </p>

@using (Html.BeginForm("AddUrl", "Home", FormMethod.Post)) 
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control", placeholder = "Type an URL", type = "url"} })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
