﻿@model IEnumerable<Task_Flex_Group.Models.Results>

@{
    ViewBag.Title = "List all results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="navbar-link"> @Html.ActionLink("Add new URL to response test", "Index") </p>
<p class="navbar-link"> @Html.ActionLink("History of visited pages", "ListHistory")</p>
<p class="page-header"> List all results </p>

<table class="table-bordered">
    <tr>
        <th>
            URL
        </th>
        <th>
            Response Time (in miliseconds)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResponseTime)
        </td>
    </tr>
}

</table>
