﻿@model IEnumerable<Task_Flex_Group.Models.Results>
@{
    var sortedResults = (List<Task_Flex_Group.Models.Results>)ViewData["sortedData"];
}

<p class="navbar-link"> @Html.ActionLink("Add new URL to speed test", "Index") </p>
<p class="navbar-link"> @Html.ActionLink("List all results", "ListAllResults") </p>
<p class="navbar-link"> @Html.ActionLink("History of visited pages", "ListHistory") </p>
<p class="page-header"> Results of visted URLs from sitemap </p>

<table class="table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponseTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in sortedResults) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResponseTime)
        </td>
    </tr>
}

</table>
