﻿@model IEnumerable<Task_Flex_Group.Models.Pages>

@{
    ViewBag.Title = "History of visited pages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="navbar-link"> @Html.ActionLink("Add new URL to response test", "Index") </p>
<p class="navbar-link"> @Html.ActionLink("List all results", "ListAllResults") </p>
<p class="page-header"> History of visited pages </p>

<table class="table-bordered">
    <tr>
        <th>
            URL
        </th>
        <th>
            Max Response Time (in miliseconds)
        </th>
        <th>
            Min Response Time (in miliseconds)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxResponseTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinResponseTime)
        </td>
    </tr>
}

</table>
